@import "tailwindcss";

@theme {
  --color-gray: #595959;
  --color-green: #22981E;
  --color-red: #C9373A;
  --color-blue: #2D3E50;

}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */